# Chapter 2: Using the Python Interpreter

####Interpreter

The Python interpreter is generally installed in `/usr/local/bin/python(version#)`.
However, it can also be installed in any directory of the user's choice.
<br>
To exit the interpreter, the user can type an end-of-file character or by typing the command: `quit()`.
<br>
<br>
**Command line execution:** Use `python -c "your_command"` to run Python code directly from the terminal. This is similar to using the -c option in shell commands.
<br>
**Running Python Modules:** Execute `python -m module_name` to run a Python module as a script. This method uses the full module name and is useful for running built-in or installed modules directly.
<br>
**Interactive Mode After Script:** Add the -i flag before your script name (`python -i your_script.py`) to enter interactive mode after the script finishes. This allows you to inspect variables or continue working with the script's context.
<br>
<br>
When passing arguments, the script name and other arguments are assigned to the `argv` variable in the `sys` module.
<br>
With no scripts or arguments, the length of `sys.argv[0]` is 0, an empty string.
<br>
Script name is standard input (-): `sys.argv[0]` is set to '-'
<br>
-c command used: `sys.argv[0]` is set to '-c'
<br>
-m module is used: `sys.argv[0]` is set to the full name of the located module.

####Interpreter and Environment

In the TTY, the interpreter is in interactive mode. The next command is then prompted with the **primary prompt** (>>>). Continuation lines are prompted with the **secondary prompt** (...).
<br>
<br>
Python source files are encoded in UTF-8 by default.
<br>
To declare an encoding other than the default, a special comment line should be added as the first line of the file.
<br>
```python
# -*- coding: encoding -*-
```
<br>
An exception to the first line rule is when the source code starts with a UNIX “shebang” line. The declaration should then be added to the second line
<br>

```python
#!/usr/bin/env python3
#-*- coding: cp1252 -*-`
```

# Chapter 3. An Informal Introduction to Python

####Comments and Simple Operators

Comments begin with the hash character `#`, and extend to the end of the line. Comments can be added at the beginning of a line, or right behind whitespace or code. They can not be added within a string literal. For example, the first three comments are allowed, whereas the last line would not result in a comment.
<br>

In [ ]:
# beginning of new line
x = 2 # behind code
      # behind whitespace
y = "# but not within a string literal"

Within the interpreter or a script, the operators `+`, `-`, `*` and `/` can be used to perform arithmetic in an expression. You can also group expressions with parantheses, `()`.

In [ ]:
1 + 1

2

In [ ]:
10 - 2 * 3

4

In [ ]:
(10 - 2 * 3) / 4

1.0

In [ ]:
10 / 4

2.5

Integer values are of type **int**, and decimal values are of type **float**. Division will always return a float.
<br>
`//` floor division returns the integer result of a division
<br>
`%` the modulus operator returns the remainder of a division
<br>
`**` is used to calculate powers
<br>
`=` is used to assign a value to a variable

In [ ]:
15 // 6

2

In [ ]:
15 % 6

3

In [ ]:
2 ** 3

8

In [ ]:
x = 10
y = 2
x * y

20

In [ ]:
z # variables that have not been assigned will be undefined and draw an error

NameError: name 'z' is not defined

####Text

Texts in python are strings and are of type **str**. Enclosing strings in single quotes `''` or double quotes `""` have no difference.
<br>
To quote a quote, we can either switch between single and double quotes, or use `\` preceeding the quote.
<br>
We can use `\n` to invoke a new line within a string when printed.
<br>
The `print()` function can often make strings more readable.

In [ ]:
'Hello World!' # single quotes

'Hello World!'

In [ ]:
"Hello World!" # double quotes

'Hello World!'

In [ ]:
"12345" # numerical values can be strings as well

'12345'

In [ ]:
"'Hello World!', I said" # single quotes within double quotes

"'Hello World!', I said"

In [ ]:
"\"Hello World!\", I said" # using escape \

'"Hello World!", I said'

In [ ]:
"First line \nSecond line" # new line \n without print

'First line \nSecond line'

In [ ]:
line = "First line \nSecond line" # new line \n with print
print(line)

First line
Second line

Adding `r` in front of the first quotation turns the string into a raw string. Raw strings may be used to avoid `\` being interpreted as special characters.

In [ ]:
print(r'C:\some\name')  # note the r before the quote C:\some\name

C:\some\name

String literals can span multiple lines using triple quotes `"""..."""`, `'''...'''`. They can also be concatenated with `+` and repeated with `*`. Multiple string literals side by side are automatically concatenated.

In [ ]:
print("""Hello World!
      Hello World!
                  Hello World!
      """)

Hello World!
      Hello World!
                  Hello World!

In [ ]:
4 * "la" + " " + "batman"

'lalalala batman'

In [ ]:
"lalalala" " " "batman"

'lalalala batman'

Strings can be indexed in python, starting at index 0. There is no character 'char' type. A single character is simply a string of length and size 1. Negative indicies will index backwards, with index -1 being the last character of the string. (-0 is the same as 0)
<br>
You can also slice strings to obtain a substring. The beginning index is always included and the ending index is always excluded.
<br>
Attempting to index a string with a value that is too large will result in an error.
<br>
Strings are immutable, so you can not change them via indicies.

In [ ]:
word = "Hello"
print(word[0]) # character at position 0
print(word[2]) # character at position 0
print(word[-1]) # character at position -1

H
l
o

In [ ]:
print(word[0:2]) # characters from position 0 (included) to position 2 (excluded)
print(word[2:]) # characters from position 2 (included) to the end
print(word[-2:]) # characters from position -2 (incluided) to the end

He
llo
lo

You can use the `len()` function to return the length of a string

In [ ]:
len(word)

5

####Lists

Lists are a compound data type that can be written as a list of comma separated values, inside of square brackets. Certain lists can have multiple item types, but most lists will have items of the same type.
<br>
Lists can also be indexed and sliced much like strings. They also support concatenation.
<br>
However, the difference is that lists are mutable and can be changed via indicies. You can also add new items to the end of the list with `list.append()`.

In [ ]:
list = [1, 2, 3, 4, 5]
list

[1, 2, 3, 4, 5]

In [ ]:
list[0]
print(list[0]) # index 0
list[2]
print(list[1]) # index 1
list[-1]
print(list[-1]) # index -1

1
2
5

In [ ]:
list[:3]
print(list[:3]) # slicing from 0 (included) to 3 (not included)
list[3:]
print(list[3:]) # slicing from 3 (included) to the end

[1, 2, 3]
[4, 5]

In [ ]:
list2 = [6, 7, 8, 9, 10]
list + list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list3 = [2, 4, 5, 8, 10]
list3[2] = 6
print(list3)
list3.append(12)
print(list3)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12]

Simple assignment in Python will not copy data. Both variables in the assignment will refer to the same thing. Operations done on one variable will be reflected in the other as well.
<br>
You may also assign to slices. However, this may change the size of the list.
<br>
The `len()` function also applies to lists.
<br>
Furthermore, lists can be nested to create multiple dimensions.

In [ ]:
len(list)

5

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
c = [a, b]
c

[[1, 2, 3], ['a', 'b', 'c']]

In [ ]:
print(c[0])
print(c[0][1])

[1, 2, 3]
2

# Chapter 4. More Control Flow Tools

####if, elif, else, and for statements

If else statements are used when dealing with conditional cases. They do not need to be followed by `elif` (else if) statements or `else` statements. Although it is generally good convention to round out `if` and `elif` statements with `else`.

For statements, in python, iterate over items of any sequence. This can be lists or strings or anything that is sequenced.

In [ ]:
if x < 0:
    print('negative')
elif x == 0:
    print('zero')
else:
    print('positive')

In [ ]:
list = ['hello', 'hi', 'hey'] # list of strings
for item in list:
    print(item)

hello
hi
hey

####range() function

To iterate traditionally over a sequence of numbers, python has the `range()` function. You may specify a starting point, an endpoint, and a step size. You may also simply have one value and `range()` will iterate from 0 to that value (non-inclusive).

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [ ]:
for i in range(5, 30, 5):
    print(i)

5
10
15
20
25

####break and continue Statements, and else Clauses on Loops

`break` statements exit out of the innermost layer of a for or while loop. `continue` statements will continue with the execution of the next iteration of a loop.

Within a for or while loop, there can exist an `else` clause. In the for loop, this `else` is executed after the loop reaches the final iteration. In a while loop, this `else` is executed after the while loop's conditional becomes false.
However, if there is a `break` in either of those loops, the `else` will not execute.

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Even")
        continue
    print("Odd")

Even
Odd
Even
Odd
Even
Odd
Even
Odd

In [ ]:
x = 5
while x > 0:
    print(x)
    x -= 1
    if x == 2:
        break

5
4
3

####pass statements

`pass` statements do nothing. They are often placeholders for functions or classes when working on other parts of the code.

In [ ]:
while True:
    pass # do nothing

####match statements

A `match` statement is similar to switch case in other languages such as C. It compares values against one or more literals and matches the first pattern to execute the code within that first match. The `_` is similar to a default case and will never fail to match. This case will be executed if none of the other cases are matched. You may also add an if statement within each case as an extra conditional.

In [ ]:
def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"

####Defining Functions

To define a function, you must use `def`, and follow it with the name of the function and a paranthesized list of all formal paramenters. Everything within the function must be indented in the line after the function definition.
<br>
Within each function, variable assignments and lookups must follow specific rules:
<br>
1. Variable Assignments:
   When you assign a value to a variable inside a function, Python creates that variable in the function's local scope by default. This means the variable is only accessible within that function.

2. Variable Lookups:
   When you use a variable in a function, Python searches for it in this order:
   <br>
   a) First, in the function's local scope
   <br>
   b) Then, in the scopes of any enclosing functions (if the function is nested)
   <br>
   c) Next, in the global scope (the module level)
   <br>
   d) Finally, in the built-in scope (Python's predefined names)
   <br>

3. Accessing Outer Scopes:
   By default, a function cannot modify variables from outer scopes. If you want to change a global variable or a variable from an enclosing function, you need to use special declarations:
   - Use the `global` keyword to modify a global variable
   - Use the `nonlocal` keyword to modify a variable from an enclosing function

In [ ]:
x = 10  # Global variable

def outer_function():
    y = 20  # Variable in outer function's scope

    def inner_function():
        z = 30  # Local variable
        print(f"Local: {z}")
        print(f"From outer function: {y}")
        print(f"Global: {x}")

    inner_function()

outer_function()

A `return` statement will return value(s) from a function. If not specified an argument, the `return` statement will by default return `None`.

In [ ]:
def add_numbers(a, b):
    result = a + b
    return result

sum = add_numbers(5, 3)
print(sum)

8

####Keyword Arguments

Function calls using keyword arguments are of the form `kwarg=value`.
<br>
Benefits of using keyword arguments in functions include:
- Having a default value assigned to certain arguments
- Being able to ignore argument order
- Makes certain arguments "optional" by having the default value
- Flexibility in number of keyword arguments
<br>

In [ ]:
def describe_person(name, age = 42, city = "San Francisco"):
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"City: {city}")

# function can be called in any of these ways
describe_person("Bob")
describe_person(name="Bob")
describe_person(name="Bob", age=25)
describe_person(name="Bob", age=25, city="New York")
describe_person("Bob", "25", "New York")
describe_person(city = "New York", name = "Bob")

Name: Bob
Age: 42
City: San Francisco
Name: Bob
Age: 42
City: San Francisco
Name: Bob
Age: 25
City: San Francisco
Name: Bob
Age: 25
City: New York
Name: Bob
Age: 25
City: New York
Name: Bob
Age: 42
City: New York

Furthermore, you can use a final formal parameter of the form `**name`.
<br>
This contains all keyword arguments passed through the function except for those that are already corresponding to a formal parameter of the function.
<br>
You may also add a formal parameter of the form `*name`. This includes all positional arguments that do not already correspond to those in the formal parameter list. `*name` must be placed before `**name`.
<br>
The order that keyword arguments are printed is always the order that they were provided in the function call.

In [ ]:
def example(*args, **kwargs):
    print("Positional arguments:")
    for arg in args:
        print(arg)

    print("\nKeyword arguments:")
    for key, value in kwargs.items():
        print(f"{key} = {value}")
# can also use
#   for kw in kwargs:
#       print(f"{kw} = {kwargs[kw]}")

example(1, 2, 3, name="Alice", age=30, city="Wonderland")

Positional arguments:
1
2
3

Keyword arguments:
name = Alice
age = 30
city = Wonderland

You may also constrain the way arguments can be passed through certain functions. This can be done using `/` and `*` within the parameter list of the function definition. Attempting to break this rule when those two special characters are in play will result in a TypeError.

In [ ]:
def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):
    # anything before the '/' are positional only
    # anything between the '/' and '*' can be positional or keyword
    # anything after the '*' are keyword only
    pass

The following is from the python website:
- Use positional-only if you want the name of the parameters to not be available to the user. This is useful when parameter names have no real meaning, if you want to enforce the order of the arguments when the function is called or if you need to take some positional parameters and arbitrary keywords.

- Use keyword-only when names have meaning and the function definition is more understandable by being explicit with names or you want to prevent users relying on the position of the argument being passed.

- For an API, use positional-only to prevent breaking API changes if the parameter’s name is modified in the future.

Sometimes, arguments are already in lists or tuples that need to be unpacked for a function call that requires separate arguments. You may do this by using `*`. In the case of dictionaries, you may use `**`.

####Lambda Expressions

Lambda expressions are essentially function definitions in the form of an expression. They follow largely the same rules as regular functions. However, they are not as complex and are not able to perform more difficult tasks like a typical function would.
<br>
They can be created with the following syntax:
<br>
`lambda a, b: a + b`

In [ ]:
# comparing lambda expressions to functioins

# lambda function definition
add_lambda = lambda x, y: x + y

# regular function definition
def add_function(x, y):
    return x + y

result_lambda = add_lambda(3, 5)
result_function = add_function(3, 5)

print(result_lambda)
print(result_function)

8
8

You can pass and return functions in a lambda expression.

In [ ]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x**2, numbers)) # map() applies the lambda function to each element in the list

print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
def power_function(n):
    return lambda x: x ** n

square_function = power_function(2)
print(square_function(5))

cube_function = power_function(3)
print(cube_function(5))

25
125

####Documentation strings

Documentation strings, or doc strings for short, are used to document a function's purpose. They are also used for other objects.
<br>
The first line should contain the main purpose. It should begin with a capital letter and end with a period.
<br>
For doc strings with more than one line, the second line should be blank to separate the initial caption from the rest of the description. All following lines should be describing the innerworkings of the object.

In [ ]:
def calculate_area(radius):
    """
    Calculate the area of a circle given its radius.

    Parameters:
    radius (float): The radius of the circle.

    Returns:
    float: The area of the circle.
    """
    area = 3.14159 * radius ** 2
    return area

####Function Annotations

Function annotations are optional metadata information regarding types used by functions. They are stored in the `__annotations__` attribute of the function as as dictionary.
- Parameter annotations are defined by a colon after the name of it, with an expression following it. This expression should be the value of the annotation
- Return annotations are defined by a `->`, between the parameter list and the expression.

In [ ]:
def function_annotations(arg1: int, arg2: str = 'default') -> float:
    """
    Example function with annotations.

    Parameters:
    arg1 (int): Required integer argument.
    arg2 (str, optional): Optional string argument with a default value.

    Returns:
    float: Returns a float value based on the operation performed.
    """
    return float(len(arg2) + arg1)

print(function_annotations.__annotations__)

{'arg1': <class 'int'>, 'arg2': <class 'str'>, 'return': <class 'float'>}

# Chapter 5: Data Structures

####List functions

**list.append(x)**: adds an item to the end of a list
<br>
**list.extend(iterable)**: appends all items from the iterable (essentially append but with multiple items)
<br>
**list.insert(i, x)**: inserts an item into the specified position _i_
<br>
**list.remove(x)**: removes the first item whose value is equal to x
<br>
**list.pop([i])**: removes and returns the item at the specified position. If no specified index, removes and returns the last item.
<br>
**list.clear()**: removes all items from the list
<br>
**list.count(x)**: returns the number of times _x_ appears in the list
<br>
**list.sort(*, key=None, reverse=False)**: sorts the items in place
<br>
**list.reverse()**: reverses the elements in place
<br>
**list.copy()**: returns a shallow copy of the list
<br>

#### Using lists as stacks and queues

Using lists as stacks in python is very simple. We will follow a LIFO (Last in first out) rule. Using `append()` to push an item to the top of the stack, and `pop()` to pop the top of the stack.

In [1]:
stack = [1, 2, 3, 4, 5]
stack.append(6)
print(stack)
stack.pop()
print(stack)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

Using lists as queues in python is also quite simple, however, is often times less efficient. This is due to having to shift the entire list whenever we insert elements. We can scour the python library for an effective way to combat this. In this case, we use **collections.deque**. With queues, we follow a FIFO (First in first out) rule.

In [2]:
from collections import deque
queue = deque([1, 2, 3, 4, 5])
queue.append(6)
print(queue)
queue.popleft()
print(queue)

deque([1, 2, 3, 4, 5, 6])
deque([2, 3, 4, 5, 6])

####List comprehensions

List comprehensions in Python are a concise and powerful way to create new lists based on existing sequences or iterables. By condensing what would typically require multiple lines of code into a single line, list comprehensions often lead to more concise and readable code.
<br>
The below example shows the for loop code for squaring a list of values and its equivalent list comprehension method.

In [13]:
squares = [x**2 for x in range(10)] # squares each value from 0 to 9
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
squares = []

# for loop equivalent
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List comprehensions can also be nested, much like loops.

In [10]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = [num for row in matrix for num in row] # for each row in matrix, we are going to append each num into flattened
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = []

# nested for loop equivalent
for row in matrix:
    for num in row:
        flattened.append(num)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

####Del statement

`del` can be used to remove an item or slices from a list using its index instead of its value. It can also be used to remove entire variables.

In [12]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Original list:", fruits)

# delete the second item (index 1)
del fruits[1]
print("After deleting index 1:", fruits)

# delete a slice (index 1 and index 2)
del fruits[1:3]
print("After deleting slice 1:3:", fruits)

# delete the entire list
del fruits

Original list: ['apple', 'banana', 'cherry', 'date', 'elderberry']
After deleting index 1: ['apple', 'cherry', 'date', 'elderberry']
After deleting slice 1:3: ['apple', 'elderberry']

####Tuples and Sequences

Tuples are sequences that consist of values separated by commas. They are always enclosed in parentheses. Technically, they do not need to be inputted with the parentheses, although it is common practice to do so. Nesting tuples will necessitate the usage of parentheses.
<br>
Although similar to lists, tuples are immutable and often accessed via unpacking. They can also be iterated through like lists.

In [25]:
tup = 12345, 'batman', 54321
print(tup[0])
tup

12345

(12345, 'batman', 54321)

In [24]:
nested_tup = (12345, ('batman', 54321))
print(nested_tup[1][0])
nested_tup

batman

(12345, ('batman', 54321))

For tuples with 0 or 1 items, the syntax is as follows:

In [30]:
# 0 items
empty_tup = ()

# 1 item
single_tup = 'batman',

print(len(empty_tup))
print(len(single_tup))
single_tup

0
1

('batman',)

In [33]:
# tuple unpacking
a, b, c = tup
print(a)
print(b)
print(c)

12345
batman
54321

####Sets and Dictionaries