# Chapter 2: Using the Python Interpreter

The Python interpreter is generally installed in `/usr/local/bin/python(version#)`.
However, it can also be installed in any directory of the user's choice.
<br>
To exit the interpreter, the user can type an end-of-file character or by typing the command: `quit()`.
<br>
<br>
**Command line execution:** Use `python -c "your_command"` to run Python code directly from the terminal. This is similar to using the -c option in shell commands.
<br>
**Running Python Modules:** Execute `python -m module_name` to run a Python module as a script. This method uses the full module name and is useful for running built-in or installed modules directly.
<br>
**Interactive Mode After Script:** Add the -i flag before your script name (`python -i your_script.py`) to enter interactive mode after the script finishes. This allows you to inspect variables or continue working with the script's context.
<br>
<br>
When passing arguments, the script name and other arguments are assigned to the `argv` variable in the `sys` module.
<br>
With no scripts or arguments, the length of `sys.argv[0]` is 0, an empty string.
<br>
Script name is standard input (-): `sys.argv[0]` is set to '-'
<br>
-c command used: `sys.argv[0]` is set to '-c'
<br>
-m module is used: `sys.argv[0]` is set to the full name of the located module.
<br>
<br>
In the TTY, the interpreter is in interactive mode. The next command is then prompted with the **primary prompt** (>>>). Continuation lines are prompted with the **secondary prompt** (...).
<br>
<br>
Python source files are encoded in UTF-8 by default.
<br>
To declare an encoding other than the default, a special comment line should be added as the first line of the file.
<br>
```python
# -*- coding: encoding -*-
```
<br>
An exception to the first line rule is when the source code starts with a UNIX “shebang” line. The declaration should then be added to the second line
<br>

```python
#!/usr/bin/env python3
#-*- coding: cp1252 -*-`
```

# Chapter 3. An Informal Introduction to Python

Comments begin with the hash character `#`, and extend to the end of the line. Comments can be added at the beginning of a line, or right behind whitespace or code. They can not be added within a string literal. For example, the first three comments are allowed, whereas the last line would not result in a comment.
<br>

In [1]:
# beginning of new line
x = 2 # behind code
      # behind whitespace
y = "# but not within a string literal"

Within the interpretor or a script, the operators `+`, `-`, `*` and `/` can be used to perform arithmetic in an expression. You can also group expressions with parantheses, `()`.

In [6]:
1 + 1

2

In [7]:
10 - 2 * 3

4

In [8]:
(10 - 2 * 3) / 4

1.0

In [9]:
10 / 4

2.5

Integer values are of type **int**, and decimal values are of type **float**. Division will always return a float.
<br>
`//` floor division returns the integer result of a division
<br>
`%` the modulus operator returns the remainder of a division
<br>
`**` is used to calculate powers
<br>
`=` is used to assign a value to a variable

In [13]:
15 // 6

2

In [16]:
15 % 6

3

In [17]:
2 ** 3

8

In [18]:
x = 10
y = 2
x * y

20

In [20]:
z # variables that have not been assigned will be undefined and draw an error

NameError: name 'z' is not defined

Texts in python are strings and are of type **str**. Enclosing strings in single quotes `''` or double quotes `""` have no difference.
<br>
To quote a quote, we can either switch between single and double quotes, or use `\` preceeding the quote.
<br>
We can use `\n` to invoke a new line within a string when printed.
<br>
The `print()` function can often make strings more readable.

In [24]:
'Hello World!' # single quotes

'Hello World!'

In [25]:
"Hello World!" # double quotes

'Hello World!'

In [26]:
"12345" # numerical values can be strings as well

'12345'

In [27]:
"'Hello World!', I said" # single quotes within double quotes

"'Hello World!', I said"

In [28]:
"\"Hello World!\", I said" # using escape \

'"Hello World!", I said'

In [30]:
"First line \nSecond line" # new line \n without print

'First line \nSecond line'

In [31]:
line = "First line \nSecond line" # new line \n with print
print(line)

First line
Second line

Adding `r` in front of the first quotation turns the string into a raw string. Raw strings may be used to avoid `\` being interpreted as special characters.

In [32]:
print(r'C:\some\name')  # note the r before the quote C:\some\name

C:\some\name

String literals can span multiple lines using triple quotes `"""..."""`, `'''...'''`. They can also be concatenated with `+` and repeated with `*`. Multiple string literals side by side are automatically concatenated.

In [33]:
print("""Hello World!
      Hello World!
                  Hello World!
      """)

Hello World!
      Hello World!
                  Hello World!

In [34]:
4 * "la" + " " + "batman"

'lalalala batman'

In [35]:
"lalalala" " " "batman"

'lalalala batman'

Strings can be indexed in python, starting at index 0. There is no character 'char' type. A single character is simply a string of length and size 1. Negative indicies will index backwards, with index -1 being the last character of the string. (-0 is the same as 0)
<br>
You can also slice strings to obtain a substring. The beginning index is always included and the ending index is always excluded.
<br>
Attempting to index a string with a value that is too large will result in an error.
<br>
Strings are immutable, so you can not change them via indicies.

In [59]:
word = "Hello"
print(word[0]) # character at position 0
print(word[2]) # character at position 0
print(word[-1]) # character at position -1

H
l
o

In [39]:
print(word[0:2]) # characters from position 0 (included) to position 2 (excluded)
print(word[2:]) # characters from position 2 (included) to the end
print(word[-2:]) # characters from position -2 (incluided) to the end

He
llo
lo

You can use the `len()` function to return the length of a string

In [40]:
len(word)

5

Lists are a compound data type that can be written as a list of comma separated values, inside of square brackets. Certain lists can have multiple item types, but most lists will have items of the same type.
<br>
Lists can also be indexed and sliced much like strings. They also support concatenation.
<br>
However, the difference is that lists are mutable and can be changed via indicies. You can also add new items to the end of the list with `list.append()`.

In [44]:
list = [1, 2, 3, 4, 5]
list

[1, 2, 3, 4, 5]

In [60]:
list[0]
print(list[0]) # index 0
list[2]
print(list[1]) # index 1
list[-1]
print(list[-1]) # index -1

1
2
5

In [50]:
list[:3]
print(list[:3]) # slicing from 0 (included) to 3 (not included)
list[3:]
print(list[3:]) # slicing from 3 (included) to the end

[1, 2, 3]
[4, 5]

In [51]:
list2 = [6, 7, 8, 9, 10]
list + list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
list3 = [2, 4, 5, 8, 10]
list3[2] = 6
print(list3)
list3.append(12)
print(list3)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12]

Simple assignment in Python will not copy data. Both variables in the assignment will refer to the same thing. Operations done on one variable will be reflected in the other as well.
<br>
You may also assign to slices. However, this may change the size of the list.
<br>
The `len()` function also applies to lists.
<br>
Furthermore, lists can be nested to create multiple dimensions.

In [54]:
len(list)

5

In [56]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
c = [a, b]
c

[[1, 2, 3], ['a', 'b', 'c']]

In [58]:
print(c[0])
print(c[0][1])

[1, 2, 3]
2